@charset "utf-8";

/* 높이 */
@media all and (max-height:550px){
    .mobileGnb .lang > li:last-child { margin-top:30px; }
    .mobileGnb .company > li > div > a { font-size:22px; padding:10px 0; margin-top:8px; color:rgba(255,255,255,0.7); font-weight: 600; }
    .mobileGnb .gnbDown { width:228px; float:right; margin-top:30px; }
}
@media all and (max-height:480px){
    .mobileGnb .lang { width:230px; float:right; margin-top:30px; }
    .mobileGnb .lang > li { margin-bottom:10px; }
    .mobileGnb .lang > li:last-child { margin-top:20px; }
    .mobileGnb .company { width:230px; float:right; margin-top:20px; }
    .mobileGnb .company > li > div > a { font-size:22px; padding:8px 0; margin-top:6px; color:rgba(255,255,255,0.7); font-weight: 600; }
    .mobileGnb .gnbDown { width:228px; float:right; margin-top:30px; }
}
@media all and (max-height:440px){
    .mobileGnb .lang { width:230px; float:right; margin-top:20px; }
    .mobileGnb .lang > li { margin-bottom:10px; }
    .mobileGnb .lang > li:last-child { margin-top:20px; }
    .mobileGnb .company { width:230px; float:right; margin-top:0; }
    .mobileGnb .company > li > div > a { font-size:22px; padding:8px 0; margin-top:6px; color:rgba(255,255,255,0.7); font-weight: 600; }
    .mobileGnb .gnbDown { width:228px; float:right; margin-top:10px; }
}    
/* 높이 끝 */

@media all and (max-width:1760px){
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn h4 { font-size:16px; padding-top:20px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn h3 { font-size:40px; font-weight:600; height:90px; margin-top:20px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn span { bottom:50px; left:32px; font-size:18px;  }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn img { bottom:32px; right:16px; width:100px; }
}

@media all and (max-width:1530px){
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn { padding:30.5px 30.5px 50% 30.5px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn h4 { font-size:14px; padding-top:20px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn h3 { font-size:34px; font-weight:600; height:90px; margin-top:20px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn span { bottom:30px; left:32px; font-size:16px;  }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn img { bottom:20px; right:10px; width:90px; }
}

@media all and (max-width:1400px){
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li { float:left; width:50%; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li:nth-child(1) { margin-bottom:20px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li:nth-child(2) { margin-bottom:20px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn { padding:27.5px 27.5px 10% 27.5px; }
}

@media all and (max-width:1100px){
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content h2 br { display: block; }
}

@media all and (max-width:1024px){
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn { padding:27.5px 27.5px 10% 27.5px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn h4 { font-size:12px; padding-top:20px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn h3 { font-size:30px; font-weight:600; height:90px; margin-top:20px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn span { bottom:30px; left:32px; font-size:14px;  }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn img { bottom:20px; right:10px; width:80px; }
}

@media all and (max-width:800px){
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn { padding:20.5px 20.5px 10% 20.5px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn h4 { font-size:12px; padding-top:20px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn h3 { font-size:28px; font-weight:600; height:90px; margin-top:20px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn span { bottom:30px; left:24px; font-size:12px;  }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn img { bottom:20px; right:10px; width:60px; }

    .scrollDown { bottom:20px; transition:all 0.3s; }

    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content h3 { font-size:28px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:90px; margin:20px 0 30px 0; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content p { font-size:34px; margin-bottom:40px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content p > span {font-size:20px; margin-top:15px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:10px auto; width:140px; height:54px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn { font-size:20px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.details { margin-top:17px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus { top:16px; right:7px; width:20px; height:20px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:before { top:0; left:50%; width:1px; height:100%; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:after  { top:50%; left:0; width:100%; height:1px; }
    
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content h3 { font-size:28px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:90px; margin:20px 0 30px 0; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content p { font-size:34px; margin-bottom:40px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content p > span {font-size:20px; margin-top:15px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:10px auto; width:140px; height:54px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn { font-size:20px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.details { margin-top:17px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus { top:16px; right:7px; width:20px; height:20px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:before { top:0; left:50%; width:1px; height:100%; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:after  { top:50%; left:0; width:100%; height:1px; }

    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content h3 { font-size:28px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:90px; margin:20px 0 30px 0; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content p { font-size:34px; margin-bottom:40px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content p > span {font-size:20px; margin-top:15px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:10px auto; width:140px; height:54px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn { font-size:20px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.details { margin-top:17px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus { top:16px; right:7px; width:20px; height:20px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:before { top:0; left:50%; width:1px; height:100%; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:after  { top:50%; left:0; width:100%; height:1px; }

    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content h3 { font-size:28px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:90px; margin:20px 0 30px 0; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content p { font-size:34px; margin-bottom:40px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content p > span {font-size:20px; margin-top:15px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:10px auto; width:140px; height:54px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn { font-size:20px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.details { margin-top:17px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus { top:16px; right:7px; width:20px; height:20px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:before { top:0; left:50%; width:1px; height:100%; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:after  { top:50%; left:0; width:100%; height:1px; }

    #footer .footer-wrap .fBR { display: block; }
}

@media all and (max-width:750px){
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:-40px auto 10px auto; }
}

@media all and (max-width:700px){
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content h3 { font-size:24px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:80px; margin:20px 0 30px 0; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content p { font-size:26px; margin-bottom:40px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content p > span { font-size:14px; margin-top:15px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:10px auto; width:140px; height:44px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn { font-size:20px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.details { margin-top:12px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus { top:11px; right:7px; width:20px; height:20px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:before { top:0; left:50%; width:1px; height:100%; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:after  { top:50%; left:0; width:100%; height:1px; }
    
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content h3 { font-size:24px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:80px; margin:20px 0 30px 0; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content p { font-size:26px; margin-bottom:40px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content p > span { font-size:14px; margin-top:15px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:10px auto; width:140px; height:44px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn { font-size:20px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.details { margin-top:12px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus { top:11px; right:7px; width:20px; height:20px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:before { top:0; left:50%; width:1px; height:100%; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:after  { top:50%; left:0; width:100%; height:1px; }

    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content h3 { font-size:24px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:80px; margin:20px 0 30px 0; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content p { font-size:26px; margin-bottom:40px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content p > span { font-size:14px; margin-top:15px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:10px auto; width:140px; height:44px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn { font-size:20px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.details { margin-top:12px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus { top:11px; right:7px; width:20px; height:20px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:before { top:0; left:50%; width:1px; height:100%; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:after  { top:50%; left:0; width:100%; height:1px; }

    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content h3 { font-size:24px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:80px; margin:20px 0 30px 0; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content p { font-size:26px; margin-bottom:40px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content p > span { font-size:14px; margin-top:15px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:10px auto; width:140px; height:44px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn { font-size:20px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.details { margin-top:12px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus { top:11px; right:7px; width:20px; height:20px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:before { top:0; left:50%; width:1px; height:100%; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:after  { top:50%; left:0; width:100%; height:1px; }

}

@media all and (max-width:640px){
    #wrap #header .header-wrap .header-gap { margin:0 15px; }
    #wrap #header .header-wrap .header-gap .header-container nav ul li:nth-child(1) h1 a.logoBtn img { transform: matrix(0.6, 0, 0, 0.6, -30, -3); }

    .appBar { right:10px; }

    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content { padding:0 10px; }

    
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content h2 br { display: block; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content p > span { font-size:14px; margin-top:15px; margin-right:10px; margin-left:10px; line-height: 130%; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:-10px auto 10px auto; }
    
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content h2 br { display: block; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content p > span { font-size:14px; margin-top:15px; margin-right:10px; margin-left:10px; line-height: 130%; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:-10px auto 10px auto; }

    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content h3 { font-size:24px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:70px; margin:20px 0 30px 0; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content h2 br { display: block; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content p { font-size:26px; margin-bottom:40px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content p > span { font-size:14px; margin-top:15px; margin-right:10px; margin-left:10px; line-height: 130%; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:-10px auto 10px auto; }

    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content h2 br { display: block; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content p > span { font-size:14px; margin-top:15px; margin-right:10px; margin-left:10px; line-height: 130%; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:-40px auto 10px auto; }

    .section-nav { display: none; }

}



@media all and (max-width:550px){
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap { top:50%; margin-top:-230.75px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li { float:none; width:100%; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li:nth-child(1) { margin-bottom:10px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li:nth-child(2) { margin-bottom:10px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li:nth-child(3) { margin-bottom:10px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn { padding:20.5px 20.5px 5% 20.5px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn h4 { font-size:12px; padding-top:20px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn h3 { font-size:28px; font-weight:600; height:40px; margin-top:10px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li:nth-child(3) div a.sectionBtn h3 { font-size:24px; font-weight:600; height:40px; margin-top:10px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn span { display: none; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn img { bottom:20px; right:10px; width:60px; }

    #footer .footer-wrap { padding:30px 0 70px 0; text-align:center; }
}

@media all and (max-width:500px){
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn { padding:15.5px 15.5px 4% 15.5px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn span { display: none; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn h3 { font-size:28px; font-weight:600; height:40px; margin-top:15px; }
    #wrap #main #section1 .mainSlide-container .mainSlide-view .mainSlide-content-wrap .mainSlide-content ul li div a.sectionBtn img { bottom:20px; right:10px; width:50px; }

    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:58px; margin:20px 0 30px 0; }

    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:70px; margin:15px 0 20px 0; }
}

@media all and (max-width:400px){
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content h3 { font-size:24px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:70px; margin:20px 0 30px 0; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content p { font-size:22px; margin-bottom:40px; }    
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content p > span { font-size:13px; margin-top:15px; margin-right:10px; margin-left:10px; line-height: 130%; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:-10px auto 10px auto; width:110px; height:34px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn { font-size:16px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.details { margin-top:9px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus { top:9px; right:5px; width:16px; height:16px; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:before { top:0; left:50%; width:1px; height:100%; }
    #wrap #main #section2 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:after  { top:50%; left:0; width:100%; height:1px; }
    
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content h3 { font-size:24px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:64px; margin:20px 0 30px 0; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content p { font-size:22px; margin-bottom:40px; }    
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content p > span { font-size:13px; margin-top:15px; margin-right:10px; margin-left:10px; line-height: 130%; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:-10px auto 10px auto; width:110px; height:34px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn { font-size:16px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.details { margin-top:9px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus { top:9px; right:5px; width:16px; height:16px; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:before { top:0; left:50%; width:1px; height:100%; }
    #wrap #main #section3 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:after  { top:50%; left:0; width:100%; height:1px; }

    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content h3 { font-size:20px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:46px; margin:20px 0 30px 0; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content p { font-size:20px; margin-bottom:40px; }    
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content p > span { font-size:12px; margin-top:15px; margin-right:10px; margin-left:10px; line-height: 130%; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:-10px auto 10px auto; width:110px; height:34px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn { font-size:16px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.details { margin-top:9px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus { top:9px; right:5px; width:16px; height:16px; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:before { top:0; left:50%; width:1px; height:100%; }
    #wrap #main #section4 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:after  { top:50%; left:0; width:100%; height:1px; }

    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content h3 { font-size:24px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content h2 { font-size:70px; margin:15px 0 20px 0; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content p { font-size:22px; margin-bottom:40px; }    
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content p > span { font-size:13px; margin-top:15px; margin-right:10px; margin-left:10px; line-height: 130%; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap { margin:-10px auto 10px auto; width:110px; height:34px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn { font-size:16px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.details { margin-top:9px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus { top:9px; right:5px; width:16px; height:16px; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:before { top:0; left:50%; width:1px; height:100%; }
    #wrap #main #section5 .lumos-wrap .lumos-gap .lumos-container .content .detailsBtn-wrap a.detailsBtn span.plus:after  { top:50%; left:0; width:100%; height:1px; }

}